<section class="list-details edit-list">

    <header class="list-header">
        <div class="list-title">
            <div class="title">
                {{#with list.favorite}}
                    <i class="fa-solid fa-star"></i>
                {{/with}}
                {{#unless list.favorite}}
                    <i class="fa-regular fa-star"></i>
                {{/unless}}
                <h1 id="list-name" contenteditable="true">{{list.name}}</h1>
            </div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="searchbar">
            <input type="text" name="search" placeholder="Search an item" />
            <i class="fa-solid fa-plus"></i>
        </div>
    </header>

    <div class="list" data-id="{{list._id}}">
        <div class="ingredients-by-category">
            {{#each list.rows}}
                <div class="list-row">
                    <p class="item-amount" contenteditable="true">{{#if
                            amount
                        }}{{amount}}{{/if}}</p>
                    <p
                        class="item-unit"
                        contenteditable="true"
                    >{{unit.name}}</p>
                    <p
                        class="item-name"
                        contenteditable="true"
                    >{{ingredient.name}}</p>
                </div>
            {{/each}}
        </div>
    </div>

</section>

<template id="template">
    <div class="list-row">
        <p class="item-amount" contenteditable="true"></p>
        <p class="item-unit" contenteditable="true"></p>
        <p class="item-name" contenteditable="true"></p>
    </div>
</template>