<section class="list-details edit-list">

    <header class="list-header">
        <div class="list-title">
            <div class="title">
                {{#if list.favorite}}
                    <i data-id="{{list.id}}" class="fa-solid fa-star"></i>
                {{else}}
                    <i data-id="{{list.id}}" class="fa-regular fa-star"></i>
                {{/if}}

                <h1 id="list-name" contenteditable="true">{{list.name}}</h1>
            </div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="searchbar">
            <input type="text" name="search" placeholder="Search an item" />
            <i class="fa-solid fa-plus"></i>
        </div>
        <div class="settings">
            <div>
                <i class="fa-regular fa-heart"></i>
                <a href="/">Save list </a>
            </div>
            <div>
                <i class="fa-regular fa-trash-can"></i>
                <a href="/">Empty list</a>
            </div>
        </div>
    </header>
    <div
        class="wrapper list"
        data-id="{{list._id}}"
        data-template={{list.template}}
    >
        <div class="ingredients-by-category">
            {{#each list.rows}}
                <div class="swipe-container">
                    <div class="swipe-item list-row">
                        <span>
                            <p class="item-amount" contenteditable="true">{{#if
                                    amount
                                }}{{amount}}{{/if}}</p>
                            <p
                                class="item-unit"
                                contenteditable="true"
                            >{{unit.name}}</p>
                            <p
                                class="item-name"
                                contenteditable="true"
                            >{{ingredient.name}}</p>
                        </span>
                        <button type="button">
                            <i class="fa-regular fa-trash-can"></i>
                        </button>
                    </div>
                    <div class="reveal-right">
                        <i class="fa-regular fa-trash-can"></i>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>

</section>

<template id="template">
    <div class="swipe-container">
        <div class="swipe-item list-row">
            <span>
                <p class="item-amount" contenteditable="true"></p>
                <p class="item-unit" contenteditable="true"></p>
                <p class="item-name" contenteditable="true"></p>
            </span>
            <button type="button">
                <i class="fa-regular fa-trash-can"></i>
            </button>
        </div>
        <div class="reveal-right">
            <i class="fa-regular fa-trash-can"></i>
        </div>
    </div>
</template>