
<section class="profile profile-edit">
    
    <header>
        <div class="picture-container">
            <img src="/{{user.photo}}" id="profile-pic" alt="profile picture" />
        </div>
        <h1>Hey<br />{{user.username}} !</h1>
    </header>
    <hr />
    <div class="user-info">
        <h2>Your infos</h2>
        <form action="/profile/edit" method="POST" id="edit-profile">
            <div class="info">
                <i class="fa-solid fa-user"></i>
                <div class="info-text">
                    <h3>Username</h3>
                    <input type="username" name="username" id="username" value="{{user.username}}" />
                </div>
            </div>
            <div class="info">
                <i class="fa-solid fa-lock"></i>
                <div class="info-text">
                    <h3>Password </h3>
                    <span class="errorMessage">{{error}}</span>
                    <input type="password" name="oldPassword" id="old-password" value="{{password}}"
                        placeholder="Your old password" />
                    <span class="errorMessage">{{errorMatch}}</span>
                    <input type="password" name="newPassword" id="new-password" value="{{password}}"
                        placeholder="Your new password" />
                    <input type="password" name="repeatPassword" id="repeat-password" value="{{password}}"
                        placeholder="Repeat the new password" />
        </form>
    </div>
    </div>
    </div>

</section>