<section id="list-details-saved"class="list-details details" data-id="{{list.id}}">

    <header class="list-header">
        <div class="list-title">
            <div class="title">
                <h1>{{list.name}}</h1>
            </div>
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>
        <div class="import">
            <p>Import in</p>

        <select id="list-selection">
            {{#each userLists}}
                <option value="{{_id}}" {{#if favorite}}class="favorite" selected{{/if}}>{{name}}</option>
            {{/each}}
        </select>
                <img
                    src="/images/addToList-or.png"
                    alt="add to list icon "
                    class="addToList"
                />

    </header>

    <div class="list">
        <div class="ingredients-by-category">
            {{#each list.rows}}
                {{#unless checked}}
                    <div
                        class="list-row"
                        data-id="{{id}}"
                        data-checked={{checked}}
                    >
                        <p class="row-amount">{{#if
                                amount
                            }}{{amount}}{{/if}}</p>
                        <p
                            class="row-unit"
                            data-id="{{unit.id}}"
                        >{{unit.name}}</p>
                        <p
                            class="row-ingredient"
                            data-id="{{ingredient.id}}"
                        >{{ingredient.name}}</p>
                    </div>
                {{/unless}}
            {{/each}}
        </div>

        <div class="checked-items">
            {{#each list.rows}}
                {{#if checked}}
                    <div
                        class="list-row"
                        data-id="{{id}}"
                        data-checked={{checked}}
                    >
                        <p class="row-amount">{{#if
                                amount
                            }}{{amount}}{{/if}}</p>
                        <p
                            class="row-unit"
                            data-id="{{unit.id}}"
                        >{{unit.name}}</p>
                        <p
                            class="row-ingredient"
                            data-id="{{ingredient.id}}"
                        >{{ingredient.name}}</p>
                    </div>
                {{/if}}
            {{/each}}
        </div>
    </div>

</section>