<section class="list-of-lists">
    <header class="list-header">
        <h1>Your lists</h1>
    </header>

    <div class="list-wrapper">

        {{#each savedLists}}
                <div class="list-element">
                    <div class="one-title">
                    {{#if favorite}}
                        <i data-id="{{id}}" class="fa-solid fa-star"></i>
                    {{else}}
                        <i data-id="{{id}}" class="fa-regular fa-star"></i>
                    {{/if}}

                        <a href="/saved/{{id}}">
                            <h2>{{name}}</h2>
                        </a>
                    </div>
                    <i class="fa-regular fa-trash-can"></i>
                </div>
        {{/each}}

    </div>

</section>