<section class="list-details">

    <header class="list-header">
        <div class="list-title">
            {{#if list.favorite}}
                <i data-id="{{list.id}}" class="fa-solid fa-star"></i>
            {{else}}
                <i data-id="{{list.id}}" class="fa-regular fa-star"></i>
            {{/if}}

            <h1 contentEditable="false">{{list.name}}</h1>
        </div>
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </header>

    <div class="list">
        {{!-- {{#each list.rows.ingredient }} --}}
        <div class="ingredients-by-category">
            <h4>{{list.rows.ingredient.category}}</h4>
            {{#each list.rows}}
                <div class="list-row">
                    <p contentEditable="false">{{amount}}</p>
                    <p contentEditable="false">{{unit}}</p>
                    <p contentEditable="false">{{ingredient.name}}</p>
                </div>
            {{/each}}
        </div>
        {{!-- {{/each}} --}}

    </div>

</section>